{% extends "header.html" %}
{% block header_footer %}

    <!-- featured abbum -->
    <div style="margin-top: 0px" class="featured pad" id="featuredalbum">
        <div class="container">
            <!-- default heading -->
            <div class="default-heading">
                <!-- heading -->
                <h2>All your favourite categories!</h2>
            </div>
            <!-- featured album elements -->

            <div class="featured-element">
                <div class="row">


                    <div class="row">

                        <div class="col-md-4 col-sm-6" >
                        <!-- featured item -->
                        <div class="featured-item ">
                            <!-- image container -->
                            <div class="figure" >
                                <!-- image -->
                                <img class="img-responsive" src="../static/img/featured/1.jpg" alt=""/>
                                <!-- paragraph -->
                                <p>Jazz is a music genre that originated in the African-American communities of New
                                    Orleans, Louisiana, United States, in the late 19th and early 20th centuries, with
                                    its roots in blues and ragtime.</p>
                            </div>

                        </div>


                    </div>


                        <div class="col-md-4 col-sm-6">
                        <!-- featured item -->
                        <div class="featured-item ">
                            <!-- image container -->
                            <div class="figure">
                                <!-- image -->
                                <img class="img-responsive" src="../static/img/featured/2.jpg" alt=""/>
                                <!-- paragraph -->
                                <p>Folk music includes traditional folk music and the genre that evolved from it during the 20th-century folk revival.</p>
                            </div>

                        </div>
                    </div>


                        <div class="col-md-4 col-sm-6">
                        <!-- featured item -->
                        <div class="featured-item ">
                            <!-- image container -->
                            <div class="figure">
                                <!-- image -->
                                <img class="img-responsive" src="../static/img/featured/3.jpg" alt=""/>
                                <!-- paragraph -->
                                <p>An instrumental is a recording normally without any vocals, although it might include some inarticulate vocals, such as shouted backup vocals in a big band setting.</p>
                            </div>

                        </div>
                    </div>
                </div >

                    </div>

{#                    ------------------ info styart#}
                <div class="row" style="text-align: center;" >

                        <div class="col-md-4 col-sm-6" >
                             <!-- featured information -->
                            <div class="featured-item-info">
                                <!-- featured title -->
                                <h4 style="cursor: pointer;">Jazz Music</h4>
                                <!-- horizontal line -->
                                <hr/>
                                <!-- some responce from social medial or web likes -->
                                <p>1024+ <span class="label label-theme">Like</span> &nbsp;&nbsp; 825+ <span
                                        class="label label-theme">Love</span></p>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6" >
                           <!-- featured information -->
                            <div class="featured-item-info">
                                <!-- featured title -->
                                <h4 style="cursor: pointer;">Folk Music</h4>
                                <!-- horizontal line -->
                                <hr/>
                                <!-- some responce from social medial or web likes -->
                                <p>1024+ <span class="label label-theme">Like</span> &nbsp;&nbsp; 825+ <span
                                        class="label label-theme">Love</span></p>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6" >
                         <!-- featured information -->
                            <div class="featured-item-info">
                                <!-- featured title -->
                                <h4 style="cursor: pointer;">Instrumental Music</h4>
                                <!-- horizontal line -->
                                <hr/>
                                <!-- some responce from social medial or web likes -->
                                <p>1024+ <span class="label label-theme">Like</span> &nbsp;&nbsp; 825+ <span
                                        class="label label-theme">Love</span></p>
                            </div>
                         </div>

                    </div>


{#                2nd row of categories#}

                <div class="row">


                    <div class="row">

                        <div class="col-md-4 col-sm-6" >
                        <!-- featured item -->
                        <div class="featured-item ">
                            <!-- image container -->
                            <div class="figure">
                                <!-- image -->
                                <img class="img-responsive" src="../static/img/featured/4.jpg" alt=""/>
                                <!-- paragraph -->
                                <p>Soul music is a popular music genre that originated in the African American community throughout the United States in the 1950s and early 1960s.</p>
                            </div>

                        </div>


                    </div>


                        <div class="col-md-4 col-sm-6">
                        <!-- featured item -->
                        <div class="featured-item ">
                            <!-- image container -->
                             <div class="figure">
                                <!-- image -->
                                <img class="img-responsive" src="../static/img/featured/5.jpg" alt=""/>
                                <!-- paragraph -->
                                <p>Religious music (also sacred music) is any type of music that is performed or composed for religious use or through religious influence.</p>
                            </div>

                        </div>
                    </div>


                        <div class="col-md-4 col-sm-6">
                        <!-- featured item -->
                        <div class="featured-item ">
                            <!-- image container -->
                             <div class="figure">
                                <!-- image -->
                                <img class="img-responsive" src="../static/img/featured/6.jpg" alt=""/>
                                <!-- paragraph -->
                                <p>An audiobook is a recording of a book or other work being read out loud. A reading of the complete text is described as "unabridged", while readings of a shorter version are an abridgement.</p>
                            </div>

                        </div>
                    </div>
                </div >

                    </div>

{#                    ------------------ info styart#}
                <div class="row" style="text-align: center;" >

                        <div class="col-md-4 col-sm-6" >
                             <!-- featured information -->
                            <div class="featured-item-info">
                                <!-- featured title -->
                                <h4 style="cursor: pointer;">Soul music</h4>
                                <!-- horizontal line -->
                                <hr/>
                                <!-- some responce from social medial or web likes -->
                                <p>1024+ <span class="label label-theme">Like</span> &nbsp;&nbsp; 825+ <span
                                        class="label label-theme">Love</span></p>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6" >
                           <!-- featured information -->
                            <div class="featured-item-info">
                                <!-- featured title -->
                                <h4 style="cursor: pointer;">Religious Music</h4>
                                <!-- horizontal line -->
                                <hr/>
                                <!-- some responce from social medial or web likes -->
                                <p>1024+ <span class="label label-theme">Like</span> &nbsp;&nbsp; 825+ <span
                                        class="label label-theme">Love</span></p>
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-6" >
                         <!-- featured information -->
                             <div class="featured-item-info">
                                <!-- featured title -->
                                <h4 style="cursor: pointer;">Audiobook</h4>
                                <!-- horizontal line -->
                                <hr/>
                                <!-- some responce from social medial or web likes -->
                                <p>1024+ <span class="label label-theme">Like</span> &nbsp;&nbsp; 825+ <span
                                        class="label label-theme">Love</span></p>
                            </div>
                         </div>

                    </div>


{#                2nd row of categories ends#}

            </div>


        </div>
        <br>

     <div class="text-center">
            <a href="#" class="btn btn-lg btn-theme">View more</a>
        </div>

    </div>


    <!-- features end -->


{% endblock %}