{% extends "header.html" %}
{% block header_footer %}


<div style="margin-top: 70px" class="portfolio pad" id="portfolio">
        <div>
            <!-- default heading -->
            <div class="default-heading">
                <!-- heading -->
                <h2>New Released Albums</h2>
            </div>
        </div>
        <!-- portfolio -->
        <div class="portfolio-content" id="portfolioOwl">
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/1.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>জাহাজী</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/2.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>Black</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/3.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>Jazz Album</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/4.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>স্রোত</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/5.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>James Album</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/6.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>জাহাজী</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/7.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>Black</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="item">
                <!-- item image -->
                <img class="img-responsive" src="../static/img/portfolio/8.jpg" alt="">
                <!-- transparent background -->
                <div class="p-transparent"></div>
                <!-- on mouse hover details -->
                <div class="p-hover">
                    <!-- heading /title -->
                    <h3>Jazz Album</h3>
                    <hr>
                    <!-- project details -->
                    <p>Some details about album.</p>
                    <!-- icon -->
                    <a href="#"><i class="fa fa-share"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="btn btn-lg btn-theme">View more</a>
        </div>
        <!-- portfolio end -->
    </div>


{% endblock %}